[user]
	name = Nate Eagle
	email = nate@nateeagle.com

[color]
    diff = true
    status = auto
    branch = auto
    interactive = auto
    ui = true

[core]
    excludesfile = ~/.gitignore
    editor = vim
    whitespace = fix
    pager = less
    #autocrlf = true

[alias]
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
